<div class="section2">
  
      <div class="sub2" id="medium1"></div>
      <div class="sub21" id="medium1text">
          <h1>Title</h1>
          <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</h2>
          <button class="readmore">Read more</button>
      </div>
      <div class="sub2" id="medium2"></div>
      <div class="sub21" id="medium2text">
          <h1>Title</h1>
          <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</h2>
          <button class="readmore">Read more</button>
      </div>
      <div class="sub2" id="medium3"></div>
      <div class="sub21" id="medium3text">
          <h1>Title</h1>
          <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</h2>
          <button class="readmore">Read more</button>
      </div>
      <div class="sub2" id="medium4"></div>
      <div class="sub21" id="medium4text">
          <h1>Title</h1>
          <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</h2>
          <button class="readmore">Read more</button>
      </div>
  </div>