<div class="section1">
  <div class="container">
      <div class="sub" id="first">
          <img src="../../assets/small.jpg" alt="" class="smallimage">
          <h4 class="title1">LOREM IPSUM DOLOR</h4>
          <h5 class="text1">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam
              semper libero, sit.</h5>
          <button class="readmore">Read more</button>
      </div>

      <div class="sub" id="second">
          <img src="../../assets/small.jpg" alt="" class="smallimage">
          <h4 class="title1">DONEC QUAM FELIS</h4>
          <h5 class="text1">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam
              semper libero, sit.</h5>
          <button class="readmore">Read more</button>
      </div>

      <div class="sub" id="third">
          <img src="../../assets/small.jpg" alt="" class="smallimage">
          <h4 class="title1">PHASELLUS VIVERRA NULLA</h4>
          <h5 class="text1">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam
              semper libero, sit.</h5>
          <button class="readmore">Read more</button>
      </div>
  </div>

</div>