.section1 {
    position: relative;
    background-color: #1d2834;
    height: 400px;
    width: 100%;
    top:98px;
}

.sub {
    display: inline-block;
    margin-top: 60px;
    height: 290px;

    width: 32%;

}

#second {

    border-left: 1px solid #717374;
    border-right: 1px solid #717374;

}


.smallimage{
    width: 35%;
    margin-left: 32.5%;
    margin-bottom: -20px;
    border: 2px solid #ecf0f1;
    border-radius: 2%;

}

.title1 {
    display: block;
    text-align: center;
    padding-top: 10px;
    color: #ecf0f1;
    margin-bottom: -15px;
}

.text1 {
    display: block;
    text-align: center;
    padding-top: 10px;
    color: #ecf0f1;
    text-align: center;
    margin-left: 5%;
    width: 90%;

}



.section1 .readmore {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

