<div class="header">
  
      <div class="container">
          <a href="#" id="logo">
              <img src="../../assets/logo.png" alt="">
          </a>
  
  
          <div class="navigation">
              <ul class="menu">
                  <li class="item"><a href="">Home</a></li>
                  <li class="item"><a href="">Menu</a></li>
                  <li class="item"><a href="">Menu</a></li>
                  <li class="item"><a href="">Menu</a></li>
                  <li class="item"><a href="">Menu</a></li>
                  <li class="item"><a href="">Contact</a></li>
              </ul>
          </div>
      </div>
  </div>